name: YouTube Videos Updater
on:
    workflow_dispatch:
    schedule:
        -   cron: '*/15 * * * *'

permissions:
    contents: write

jobs:
    update-readme:
        name: Update latest uploads
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout README files
                uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

            -   name: Update README files
                uses: gautamkrishnar/blog-post-workflow@d27ccd7d66af00cbd2178c31d7c74de04cc2850b # v1
                with:
                    readme_path: 'README.md, README_hi.md, README_bn.md'
                    comment_tag_name: 'YOUTUBE'
                    feed_list: 'https://www.youtube.com/feeds/videos.xml?channel_id=UCUvyLhIvcoJAFjfQfpnn4mw'
                    custom_tags: 'channelId/yt:channelId/, videoId/yt:videoId/'
                    date_format: 'mmm d, yyyy'
                    template: '$newline<table>$newline<tr>$newline<td><a href="$url"><img alt="YouTube Video Thumbnail" width="160px" src="https://i.ytimg.com/vi/$videoId/mqdefault.jpg"></a></td>$newline<td><a href="$url">$title</a><br/>$date</td>$newline</tr>$newline</table>$newline'
                    committer_username: 'Aarav Bundela'
                    committer_email: 'aarav.bundela@outlook.com'
                    commit_message: 'chore(readme): sync YouTube videos'
                    dummy_commit_message: 'chore(repo): keep repository active'
